.tile{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 4px solid #000000;
}

.flipped{
    
    text-decoration: underline;
}